{% extends 'paginate.html' %}
{% block content %}
    <h1>Shopping List</h1>
    <form method="post" action="{% url "delete_all_shopping_items" %}">
        {% csrf_token %}
        <button class="button">Delete All</button>
    </form>
    <main>
        <ul>
            {% for shoppingitem in shoppingitem_list %}<li>{{ shoppingitem.food_item }}</li>{% endfor %}
        </ul>
        <p></p>
    </main>
{% endblock content %}
