{% extends 'paginate.html' %}
{% block content %}
  <main class="recipe-grid">
    <div class="recipe-card">
        {% for user in object_list %}
        <h2 class="recipe-card-title">
        {{ user.username }}
    </h2>
        {% for recipe in user.recipes.all %}
        <p>{{ recipe.name }}</p>
        {% endfor %}
    </div>
    {% endfor %}
  </main>
{% endblock content %}
