{% extends 'base.html' %}

{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'tag_edit' tag.pk %}">Edit</a>
      <a href="{% url 'tag_delete' tag.pk %}">Delete</a>
    </div>
    <h1>{{ tag.name }}</h1>
  </main>
{% endblock content %}