{% extends 'paginate.html' %}

{% block content %}
  <main class="recipe-grid">
    {% for tag in tag_list %}
    <div class="recipe-card">
      <h2 class="recipe-card-title">
        <a href="{% url 'tag_detail' tag.pk %}">{{ tag.name }}</a>
      </h2>
    </div>
    {% endfor %}
  </main>
{% endblock content %}
