{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
  <main class="recipe-detail">
    {% if user.is_authenticated %}
      <div>
        <a href="{% url 'meal_plans_edit' mealplan.pk %}">Edit</a>
        <a href="{% url 'meal_plans_delete' mealplan.pk %}">Delete</a>
      </div>
      <h1>{{ mealplan.name }}</h1>
      <h2>by: {{ mealplan.owner }}</h2>
      <p>Date: {{ mealplan.date }}</p>
      {% for recipe in mealplan.recipes.all %}
        <a href="{% url "recipe_detail" recipe.pk %}">
          <p>{{ recipe.name }}</p>
        </a>
      {% endfor %}
    </main>
  {% endif %}
{% endblock content %}
