{% extends 'paginate.html' %}
{% block content %}
  <main class="recipe-grid">
    {% if user.is_authenticated %}
      {% for meal_plan in mealplan_list %}
        <div class="recipe-card">
          <h2 class="recipe-card-title">
            <a href="{% url 'meal_plans_detail' meal_plan.pk %}">
              <p>{{ meal_plan.name }}</p>
            </a>
          </h2>
          <p class="recipe-card-date">{{ meal_plan.date }}</p>
        </div>
      {% endfor %}
    {% endif %}
  </main>
{% endblock content %}
